<nz-layout class="app-layout">
  <nz-header>
    <div>
      <ul nz-menu nzTheme="dark" nzMode="horizontal">
        <li nz-menu-item [nzSelected]="hasFocusOnHelp"  (click)="openHelpWindow()">
          <i nz-icon [nzType]="'question-circle'"></i> Help
        </li>
        <li nz-menu-item [nzSelected]="!hasFocusOnHelp" routerLink="json-edit">
          <i nz-icon [nzType]="'export'"></i> Generate JSON
        </li>
      </ul>
    </div>
  </nz-header>
  <nz-content>
    <router-outlet></router-outlet>
  </nz-content>
</nz-layout>
